<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1>RESTful API Test Panel</h1>
    <div style="text-align: center">
      <input
        onclick="autoUpdate('start')"
        type="submit"
        value="auto update start"
      />
      <input
        onclick="autoUpdate('stop')"
        type="submit"
        value="auto update stop"
      />
      <input
        onclick="autoUpdate('time')"
        type="submit"
        value="auto update time"
      />
      <input
        onclick="autoUpdate('status')"
        type="submit"
        value="auto update status"
      />
    </div>
    <div style="display: flex; flex-wrap: wrap">
      <div style="width: 720px; margin: 0 auto">
        <h2 style="margin-bottom: 10px">KKBOX</h2>
        <div class="flex">
          <div>
            <div class="kkbox">
              <span id="k_method"></span><span>/api/kkbox/charts/</span
              ><select id="kid" style="font-size: 15px"></select
              ><span>/tracks</span>
            </div>
            <div id="kkbox" class="result"></div>
          </div>
          <div>
            <input
              onclick="queryKKChart('POST')"
              type="submit"
              value="POST Charts"
            />
            <input
              onclick="queryKKChart('PUT')"
              type="submit"
              value="PUT Charts"
            />
            <input onclick="queryKKBOX('GET')" type="submit" value="GET" />
            <input onclick="queryKKBOX('POST')" type="submit" value="POST" />
            <input
              onclick="queryKKBOXALL('POST')"
              type="submit"
              value="POSTALL"
            />
            <input onclick="queryKKBOX('PUT')" type="submit" value="PUT" />
            <input
              onclick="queryKKBOXALL('PUT')"
              type="submit"
              value="PUTALL"
            />
            <input
              onclick="queryKKBOX('DELETE')"
              type="submit"
              value="DELETE"
            />
          </div>
        </div>
      </div>
      <div style="width: 720px; margin: 0 auto">
        <h2 style="margin-bottom: 15px">Spotify</h2>
        <div class="flex">
          <div>
            <div class="spotify">
              <span id="s_method"></span><span>/api/spotify/charts/</span
              ><select id="sid" style="font-size: 15px"></select
              ><span>/tracks</span>
            </div>
            <div id="spotify" class="result"></div>
          </div>
          <div>
            <input
              onclick="querySPChart('POST')"
              type="submit"
              value="POST Charts"
            />
            <input
              onclick="querySPChart('PUT')"
              type="submit"
              value="PUT Charts"
            />
            <input onclick="querySpotify('GET')" type="submit" value="GET" />
            <input onclick="querySpotify('POST')" type="submit" value="POST" />
            <input
              onclick="querySpotifyALL('POST')"
              type="submit"
              value="POSTALL"
            />
            <input onclick="querySpotify('PUT')" type="submit" value="PUT" />
            <input
              onclick="querySpotifyALL('PUT')"
              type="submit"
              value="PUTALL"
            />
            <input
              onclick="querySpotify('DELETE')"
              type="submit"
              value="DELETE"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    h2 {
      margin: 0;
    }
    input {
      width: 120px;
      height: 25px;
      margin: 5px;
    }
    .flex {
      display: flex;
      text-align: center;
      /* flex-wrap: wrap; */
    }
    .kkbox,
    .spotify {
      border: 2px solid #5994d6;
      padding: 5px;
      font-size: 20px;
    }
    .result {
      width: 640px;
      height: 360px;
      overflow-y: auto;
      border: 2px solid #5994d6;
    }
  </style>
  <script>
    // Initial buttons
    const kkbox_paths = [];
    fetch("/api/kkbox/charts")
      .then((response) => response.json())
      .then((jsonData) => {
        jsonData.forEach((item, index) => {
          let id = item.id;
          let title = item.title;
          let cover = item.cover;

          kkbox_paths.push(`/api/kkbox/charts/${id}/tracks`);
          kid.innerHTML += `<option value=${id}>${title}</option>`;
        });
      })
      .catch((error) => console.log(error));

    const spotify_paths = [];
    fetch("/api/spotify/charts")
      .then((response) => response.json())
      .then((jsonData) => {
        jsonData.forEach((item, index) => {
          let id = item.id;
          let title = item.title;
          let cover = item.cover;

          spotify_paths.push(`/api/spotify/charts/${id}/tracks`);
          sid.innerHTML += `<option value=${id}>${title}</option>`;
        });
      })
      .catch((error) => console.log(error));

    function autoUpdate(command) {
      fetch(`/autoupdate/${command}`, { method: "GET" })
        .then((response) => response.json())
        .then((jsonData) => {
          let message = "";
          if (command == "start") {
            message = jsonData.message;
            kkbox.innerHTML = message;
            spotify.innerHTML = message;
          } else if (command == "stop") {
            message = jsonData.message;
            kkbox.innerHTML = message;
            spotify.innerHTML = message;
          } else if (command == "time") {
            kkbox.innerHTML = "";
            spotify.innerHTML = "";
            jsonData.forEach((data) => {
              if (data.platform == "kkbox") {
                kkbox.innerHTML += `${data.updateAt} <br><br>`;
              } else {
                spotify.innerHTML += `${data.updateAt} <br><br>`;
              }
            });
          } else if (command == "status") {
            message = jsonData.status;
            kkbox.innerHTML = message;
            spotify.innerHTML = message;
          }
          console.log(jsonData);
        })
        .catch((error) => console.log(error));
    }

    function queryKKChart(method) {
      fetch("/api/kkbox/charts", { method })
        .then((response) => response.json())
        .then((jsonData) => {
          jsonData.forEach((item, index) => {
            let id = item.id;
            let title = item.title;
            let cover = item.cover;

            kkbox_paths.push(`/api/kkbox/charts/${id}/tracks`);
            kid.innerHTML += `<option value=${id}>${title}</option>`;
          });
        })
        .catch((error) => console.log(error));
    }

    function queryKKBOXALL(method) {
      let delayTime = 2000;
      kkbox_paths.forEach(async (path) => {
        fetch(path, { method: method })
          .then((response) => response.json())
          .then((jsonData) => {
            console.log(jsonData);
          })
          .catch((error) => console.log(error));
        // Fetch with 2 seconds delay
        await new Promise((r) => setTimeout(r, delayTime));
      });
    }

    function querySpotifyALL(method) {
      let delayTime = 2000;
      spotify_paths.forEach(async (path) => {
        fetch(path, { method: method })
          .then((response) => response.json())
          .then((jsonData) => {
            console.log(jsonData);
          })
          .catch((error) => console.log(error));
        // Fetch with 2 seconds delay
        await new Promise((r) => setTimeout(r, delayTime));
      });
    }

    function queryKKBOX(method) {
      const id = document.querySelector("#kid").value;
      const m_method = document.querySelector("#k_method");
      const musics = document.querySelector("#kkbox");
      const path = `/api/kkbox/charts/${id}/tracks`;
      m_method.innerHTML = `${method}: `;

      fetch(path, { method: method })
        .then((response) => response.json())
        .then((jsonData) => {
          musics.innerHTML = "";
          if (jsonData.length) {
            jsonData.forEach((tracks) => {
              let rankNo = tracks.rankNo;
              let title = tracks.title;
              let album = tracks.album;
              let artist = tracks.artist;
              let link = tracks.titleLink;
              let cover = tracks.cover;
              let release_date = tracks.release_date;

              musics.innerHTML += `<div style="padding:12px;display:flex;align-items:center;">
                                    <div>${rankNo}.</div>
                                    <img src="${cover}" style="width:50px;"/>
                                    <div style="flex: 1 1 0">
                                      <div style="width:200px;margin:auto"><a href=${link} target="_blank">${title}</a></div>
                                      <div>${artist}</div>
                                    </div>
                                    <div style="flex: 1 1 0">${album}</div>
                                    <div>${release_date}</div>
                                   </div>`;
            });
          } else {
            const result = jsonData.message;
            musics.innerHTML = `<h2>${result}</h2>`;
          }
        })
        .catch((error) => console.log(error));
    }
    function querySPChart(method) {
      fetch("/api/spotify/charts", { method })
        .then((response) => response.json())
        .then((jsonData) => {
          jsonData.forEach((item, index) => {
            let id = item.id;
            let title = item.title;
            let cover = item.cover;

            spotify_paths.push(`/api/spotify/charts/${id}/tracks`);
            sid.innerHTML += `<option value=${id}>${title}</option>`;
          });
        })
        .catch((error) => console.log(error));
    }
    function querySpotify(method) {
      const id = document.querySelector("#sid").value;
      const m_method = document.querySelector("#s_method");
      const musics = document.querySelector("#spotify");
      const path = `/api/spotify/charts/${id}/tracks`;
      m_method.innerHTML = `${method}: `;

      fetch(path, { method: method })
        .then((response) => response.json())
        .then((jsonData) => {
          musics.innerHTML = "";
          if (jsonData.length) {
            jsonData.forEach((tracks) => {
              let rankNo = tracks.rankNo;
              let title = tracks.title;
              let album = tracks.album;
              let artist = tracks.artist;
              let link = tracks.titleLink;
              let cover = tracks.cover;
              let release_date = tracks.release_date;

              musics.innerHTML += `<div style="padding:12px;display:flex;align-items:center;">
                                    <div>${rankNo}.</div>
                                    <img src="${cover}" style="width:50px;"/>
                                    <div style="flex: 1 1 0">
                                      <div style="width:200px;margin:auto"><a href=${link} target="_blank">${title}</a></div>
                                      <div>${artist}</div>
                                    </div>
                                    <div style="flex: 1 1 0">${album}</div>
                                    <div>${release_date}</div>
                                   </div>`;
            });
          } else {
            const result = jsonData.message;
            musics.innerHTML = `<h2>${result}</h2>`;
          }
        })
        .catch((error) => console.log(error));
    }
  </script>
  <style>
    body {
      max-width: 1024px;
      margin: 0 auto;
    }
    ul {
      display: flex;
    }
    ul li {
      flex: 1 1 0;
      list-style: none;
      margin: 2rem;
    }
    ul li a {
      text-decoration: none;
    }
  </style>
</html>
