<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <h1>RESTful API Test Panel</h1>
    <div style="width: 720px; margin: 0 auto">
      <label>Auto update:</label>
      <button onclick="autoUpdate('start')" type="button" class="btn btn-dark">
        Start
      </button>
      <button onclick="autoUpdate('stop')" type="button" class="btn btn-dark">
        Stop
      </button>
      <button onclick="autoUpdate('time')" type="button" class="btn btn-dark">
        Time
      </button>
      <button onclick="autoUpdate('status')" type="button" class="btn btn-dark">
        Status
      </button>
    </div>
    <div style="display: flex; flex-wrap: wrap; width: 780px; margin: 0 auto">
      <div>
        <h2 style="margin-bottom: 10px">KKBOX</h2>
        <div class="flex">
          <div>
            <div class="kkbox">
              <span id="k_method"></span><span>/api/kkbox/charts/</span
              ><select id="kid"></select
              ><span>/tracks</span>
            </div>
            <div id="kkbox" class="result"></div>
          </div>
          <div>
            <button
              onclick="queryKKChart('GET')"
              type="button"
              class="btn btn-light"
            >
              GET Charts
            </button>
            <button
              onclick="queryKKChart('POST')"
              type="button"
              class="btn btn-light"
            >
              POST Charts
            </button>
            <button
              onclick="queryKKChart('PUT')"
              type="button"
              class="btn btn-light"
            >
              PUT Charts
            </button>
            <button
              onclick="queryKKBOX('GET')"
              type="button"
              class="btn btn-light"
            >
              GET Tracks
            </button>
            <button
              onclick="queryKKBOX('POST')"
              type="button"
              class="btn btn-light"
            >
              POST Tracks
            </button>

            <button
              onclick="queryKKBOX('PUT')"
              type="button"
              class="btn btn-light"
            >
              PUT Tracks
            </button>

            <button
              onclick="queryKKBOX('DELETE')"
              type="button"
              class="btn btn-light"
            >
              DELETE Tracks
            </button>
            <button
              onclick="queryKKBOXALL('POST')"
              type="button"
              class="btn btn-light"
            >
              POSTALL Tracks
            </button>
            <button
              onclick="queryKKBOXALL('PUT')"
              type="button"
              class="btn btn-light"
            >
              PUTALL Tracks
            </button>
          </div>
        </div>
      </div>
      <div>
        <h2 style="margin-bottom: 15px">Spotify</h2>
        <div class="flex">
          <div>
            <div class="spotify">
              <span id="s_method"></span><span>/api/spotify/charts/</span
              ><select id="sid"></select
              ><span>/tracks</span>
            </div>
            <div id="spotify" class="result"></div>
          </div>
          <div>
            <button
              onclick="querySPChart('GET')"
              type="button"
              class="btn btn-light"
            >
              GET Charts
            </button>
            <button
              onclick="querySPChart('POST')"
              type="button"
              class="btn btn-light"
            >
              POST Charts
            </button>
            <button
              onclick="querySPChart('PUT')"
              type="button"
              class="btn btn-light"
            >
              PUT Charts
            </button>
            <button
              onclick="querySpotify('GET')"
              type="button"
              class="btn btn-light"
            >
              GET Tracks
            </button>
            <button
              onclick="querySpotify('POST')"
              type="button"
              class="btn btn-light"
            >
              POST Tracks
            </button>
            <button
              onclick="querySpotify('PUT')"
              type="button"
              class="btn btn-light"
            >
              PUT Tracks
            </button>
            <button
              onclick="querySpotify('DELETE')"
              type="button"
              class="btn btn-light"
            >
              DELETE Tracks
            </button>
            <button
              onclick="querySpotifyALL('POST')"
              type="button"
              class="btn btn-light"
            >
              POSTALL Tracks
            </button>
            <button
              onclick="querySpotifyALL('PUT')"
              type="button"
              class="btn btn-light"
            >
              PUTALL Tracks
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    body {
      max-width: 1024px;
      margin: 0 auto;
    }
    ul {
      display: flex;
    }
    ul li {
      flex: 1 1 0;
      list-style: none;
      margin: 2rem;
    }
    ul li a {
      text-decoration: none;
    }
    h1 {
      text-align: center;
      margin: 20px 0;
    }
    h2 {
      margin: 0;
    }
    label {
      font-size: 18px;
      font-weight: 600;
    }
    select {
      font-size: 18px;
      background-color: white;
      border: 1px solid darkgray;
      border-radius: 5px;
    }
    button {
      width: 125px;
      margin: 3px;
    }
    a {
      text-decoration: none;
    }
    .flex {
      display: flex;
      text-align: center;
      /* flex-wrap: wrap; */
    }
    .kkbox,
    .spotify {
      border: 2px solid #565656;
      border-bottom: 0;
      padding: 5px;
      font-size: 20px;
    }
    .result {
      width: 725px;
      height: 400px;
      overflow-y: auto;
      border: 2px solid #565656;
    }
  </style>
  <script>
    // Initial buttons
    const kkbox_paths = [];
    fetch("/api/kkbox/charts")
      .then((response) => response.json())
      .then((jsonData) => {
        jsonData.forEach((item, index) => {
          let id = item.id;
          let title = item.title;
          let cover = item.cover;

          kkbox_paths.push(`/api/kkbox/charts/${id}/tracks`);
          kid.innerHTML += `<option value=${id}>${title}</option>`;
        });
      })
      .catch((error) => console.log(error));

    const spotify_paths = [];
    fetch("/api/spotify/charts")
      .then((response) => response.json())
      .then((jsonData) => {
        jsonData.forEach((item, index) => {
          let id = item.id;
          let title = item.title;
          let cover = item.cover;

          spotify_paths.push(`/api/spotify/charts/${id}/tracks`);
          sid.innerHTML += `<option value=${id}>${title}</option>`;
        });
      })
      .catch((error) => console.log(error));

    function autoUpdate(command) {
      fetch(`/autoupdate/${command}`, { method: "GET" })
        .then((response) => response.json())
        .then((jsonData) => {
          let message = "";
          if (command == "start") {
            message = jsonData.message;
            kkbox.innerHTML = message;
            spotify.innerHTML = message;
          } else if (command == "stop") {
            message = jsonData.message;
            kkbox.innerHTML = message;
            spotify.innerHTML = message;
          } else if (command == "time") {
            kkbox.innerHTML = "";
            spotify.innerHTML = "";
            jsonData.forEach((data) => {
              if (data.platform == "kkbox") {
                kkbox.innerHTML += `${data.updateAt} <br><br>`;
              } else {
                spotify.innerHTML += `${data.updateAt} <br><br>`;
              }
            });
          } else if (command == "status") {
            message = jsonData.status;
            kkbox.innerHTML = message;
            spotify.innerHTML = message;
          }
          console.log(jsonData);
        })
        .catch((error) => console.log(error));
    }

    function queryKKChart(method) {
      const musics = document.querySelector("#kkbox");
      const kid = document.querySelector("#kid");
      fetch("/api/kkbox/charts", { method: method })
        .then((response) => response.json())
        .then((jsonData) => {
          if (jsonData.length) {
            kid.innerHTML = "";
            jsonData.forEach((item, index) => {
              let id = item.id;
              let title = item.title;
              let cover = item.cover;

              kkbox_paths.push(`/api/kkbox/charts/${id}/tracks`);
              kid.innerHTML += `<option value=${id}>${title}</option>`;
            });
          } else {
            const result = jsonData.message;
            musics.innerHTML = `<h2>${result}</h2>`;
          }
        })
        .catch((error) => console.log(error));
    }

    function queryKKBOXALL(method) {
      let delayTime = 2000;
      kkbox_paths.forEach(async (path) => {
        fetch(path, { method: method })
          .then((response) => response.json())
          .then((jsonData) => {
            console.log(jsonData);
          })
          .catch((error) => console.log(error));
        // Fetch with 2 seconds delay
        await new Promise((r) => setTimeout(r, delayTime));
      });
    }

    function querySpotifyALL(method) {
      let delayTime = 2000;
      spotify_paths.forEach(async (path) => {
        fetch(path, { method: method })
          .then((response) => response.json())
          .then((jsonData) => {
            console.log(jsonData);
          })
          .catch((error) => console.log(error));
        // Fetch with 2 seconds delay
        await new Promise((r) => setTimeout(r, delayTime));
      });
    }

    function queryKKBOX(method) {
      const id = document.querySelector("#kid").value;
      const m_method = document.querySelector("#k_method");
      const musics = document.querySelector("#kkbox");
      const path = `/api/kkbox/charts/${id}/tracks`;
      m_method.innerHTML = `${method}: `;

      fetch(path, { method: method })
        .then((response) => response.json())
        .then((jsonData) => {
          if (jsonData.length) {
            musics.innerHTML = "";
            jsonData.forEach((tracks) => {
              let rankNo = tracks.rankNo;
              let title = tracks.title;
              let album = tracks.album;
              let artist = tracks.artist;
              let link = tracks.titleLink;
              let cover = tracks.cover;
              let release_date = tracks.release_date;

              musics.innerHTML += `<div style="padding:12px;display:flex;align-items:center;">
                                    <div>${rankNo}.</div>
                                    <img src="${cover}" style="width:50px;"/>
                                    <div style="flex: 1 1 0">
                                      <div style="width:200px;margin:auto">
                                        <a href="${link}" target="_blank">${title}</a>
                                      </div>
                                      <div>${artist}</div>
                                    </div>
                                    <div style="flex: 1 1 0">${album}</div>
                                    <div>${release_date}</div>
                                   </div>`;
            });
          } else {
            const result = jsonData.message;
            musics.innerHTML = `<h2>${result}</h2>`;
          }
        })
        .catch((error) => console.log(error));
    }
    function querySPChart(method) {
      const sid = document.querySelector("#sid");
      const musics = document.querySelector("#spotify");
      fetch("/api/spotify/charts", { method })
        .then((response) => response.json())
        .then((jsonData) => {
          if (jsonData.length) {
            jsonData.forEach((item, index) => {
              let id = item.id;
              let title = item.title;
              let cover = item.cover;

              spotify_paths.push(`/api/spotify/charts/${id}/tracks`);
              sid.innerHTML += `<option value=${id}>${title}</option>`;
            });
          } else {
            const result = jsonData.message;
            musics.innerHTML = `<h2>${result}</h2>`;
          }
        })
        .catch((error) => console.log(error));
    }
    function querySpotify(method) {
      const id = document.querySelector("#sid").value;
      const m_method = document.querySelector("#s_method");
      const musics = document.querySelector("#spotify");
      const path = `/api/spotify/charts/${id}/tracks`;
      m_method.innerHTML = `${method}: `;

      fetch(path, { method: method })
        .then((response) => response.json())
        .then((jsonData) => {
          if (jsonData.length) {
            musics.innerHTML = "";
            jsonData.forEach((tracks) => {
              let rankNo = tracks.rankNo;
              let title = tracks.title;
              let album = tracks.album;
              let artist = tracks.artist;
              let link = tracks.titleLink;
              let cover = tracks.cover;
              let release_date = tracks.release_date;

              musics.innerHTML += `<div style="padding:12px;display:flex;align-items:center;">
                                    <div>${rankNo}.</div>
                                    <img src="${cover}" style="width:50px;"/>
                                    <div style="flex: 1 1 0">
                                      <div style="width:200px;margin:auto">
                                        <a href="${link}" target="_blank">${title}</a>
                                      </div>
                                      <div>${artist}</div>
                                    </div>
                                    <div style="flex: 1 1 0">${album}</div>
                                    <div>${release_date}</div>
                                   </div>`;
            });
          } else {
            const result = jsonData.message;
            musics.innerHTML = `<h2>${result}</h2>`;
          }
        })
        .catch((error) => console.log(error));
    }
  </script>
</html>
